.container {
  background-color: #fff;
}

.header {
  padding: 20px 30px;

  display: flex;

  background-color: rgba(193, 185, 185, 0.5);
}

.logo {
  font-family: Bradley Hand, cursive;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 22px;

  color: #220707;
}

.nav {
  display: flex;
  gap: 30px;

  margin-left: auto;

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;

  color: #220707;
}
